
@use "../abstracts/colors";
@use "../abstracts/typography";


main {
    background-color: colors.$background-color;
}



@media (max-width: 768px) {

    .hotel {
      flex-direction: column;
    }
  
    .hotel-1, .hotel-2, .hotel-3, .hotel-4 {
      flex-direction: column;
    }
  
    section {
        width: 100%;
    }
    .imghotel-1, .imghotel-2, .imghotel-3, .imghotel-4 {
      width: 100%;
      img {
        width: 100%;
  }
    }
  
    .description-1, .description-2, .description-3, .description-4 {
      padding: 2rem;
    }
  
    .item {
      width: 100%; 
      padding: 2rem;

    }
    .item-2 {
        display: flex;
        flex-direction: column-reverse;
    }
  
  
    .navigation ul {
      flex-direction: column;
    }
  

  .about{
    width: 100%;
    .about-title {
        text-align: right;
        position: absolute;
    }
}
.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
}



.hotel {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 15rem 0 0 0;

    }

    .hotel-1,.hotel-3{
        width: 100%;
        display: flex; 
    }

    .hotel-2,.hotel-4 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
 }


    section{
        display: flex;
        flex-direction: column;
        width: 50%; 
    }


.imghotel-1,.imghotel-3 {
    width: 50%;
    display: flex;
    cursor: pointer;
    img {
        width: 80%;
    }

}

.imghotel-2,.imghotel-4 {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    img {
        width: 80%;
  }
}

.description-1,.description-3 {
    padding: 0 9rem 0 13rem;
}
.description-2,.description-4 {
    padding: 0 13rem 0 9rem;
}

.innovation {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 50%;
    padding: 12rem;
}

.item-2 img, .item-4 img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.item-4 img{
    height: 40rem;
    width: 100%;
    object-fit: cover;
}
.item-1 img {
    width: 100%;
    object-fit: cover;
    height: 20rem;

}

.about{
    width: 100%;
    .about-title {
        text-align: right;
        position: absolute;
    }
}



.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

