*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

$primary-color: #363A2b;
$secondary-color: #4f6234;
$tertiary-color: #d9c7b3;
$quaternary-color:#ffffff
$input-color: #e1d2c2;
$background-color: #e5e0dc;
