@font-face {
    font-family: Karla-Bold;
    src: url(../../../fonts/Karla-Bold.ttf);
}

@font-face {
    font-family:Karla-Regular;
    src: url(../../../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family:PlayfairDisplay-Bold;
    src: url(../../../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family:PlayfairDisplay-Medium;
    src: url(../../../fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family:PlayfairDisplay-Regular;
    src: url(../../../fonts/PlayfairDisplay-Regular.ttf);
}
